.header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 30px 0;
  @include d(768) {
    padding: 20px 0;
  }
  
  &-row {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include d(768) {
      padding: 0;
    }
  }
}

.logo {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 60px;
  line-height: 0.8em;
  margin: 0;
  cursor: pointer;

  span {
    position: relative;
    font-weight: 400;

    &:first-child {
      color: $gray;
      -webkit-text-stroke: 1px $gray;
      -webkit-text-fill-color: $yellow;
      display: inline-block;
      z-index: 10;
    }

    &:last-child {
      margin-left: -.62em;
      color: $gray;
      -webkit-text-stroke: 1px $gray;
      // -webkit-text-fill-color: $gray;
    }
  }
}