.header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 20px 0;
  &-row {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 40px;
  line-height: 0.8em;
  margin: 0;

  span {
    position: relative;
    font-weight: 400;
    &:first-child {  
      color: $gray;
      -webkit-text-stroke: 1px $gray;
      -webkit-text-fill-color: $red;
      display: inline-block;
      z-index: 10;
    }
    &:last-child {  
      margin-left: -.62em;
      color: $gray;
      -webkit-text-stroke: 1px $gray;
      -webkit-text-fill-color: $gray;
    }
  }
}