.scroll-btn {
  position: absolute;
  right: 0;
  bottom: 100px;
  font-size: 14px;
  transform: rotate(90deg);
  text-transform: uppercase;
  transition: color $duration $timing;
  cursor: pointer;
  width: 100%;
  max-width: 140px;

  @include rh (1024) {
    &:hover {
      color: $yellow;

      &::after {
        right: -10px;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 1px;
    background-color: $gray;
    transition: right $duration $timing;
  }

  .button-text {
    letter-spacing: 2px;
    font-weight: 300;
  }
}