.section-contact {
  background-image: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgb(31, 31, 31) 100%);
  height: 100vh;
  background-size: 100%;
  // background-position: left top;
  background-repeat: no-repeat;
  // animation: bg-animation 15s ease infinite alternate;
  .container_lg {
    height: 100%;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .title-3 {
    text-align: center;
    color: $gray;
  }
}
.contact {
  &-row {
    padding-top: 240px;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &-content {
    max-width: 50%;
    width: 50%;
    padding: 0 80px;
    p {
      text-align: justify;
      color: $gray;
    }
  }
  &-form {
    max-width: 50%;
    width: 50%;
  }
}
.form {
  position: relative;
  padding: 40px 60px 60px;
  margin-top: -40px;
  box-shadow: 0px 12px 43px -6px rgba(0,0,0,0.75);
  max-width: 90%;
  .button {
    // margin-top: 30px;
    display: block;
    text-align: center;
    margin: 40px auto 0;
    box-shadow: 0px 12px 43px -6px rgba(0,0,0,0.75);
  }
}


