// Muli
@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/Muli/Muli-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli/Muli-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli/Muli-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli/Muli-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli/Muli-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli/Muli-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli/Muli-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Bold";
  src: url("../fonts/Muli/Muli-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli/Muli-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli/Muli-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli/Muli-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli/Muli-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli/Muli-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli/Muli-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/Muli/Muli-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Muli/Muli-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Muli/Muli-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Muli/Muli-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Muli/Muli-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Muli/Muli-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Muli/Muli-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}