.svg {
  &-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    fill: $gray;
    transition: fill $duration;
    // fill: transparent;

    @include rh(1024) {
      &:hover {
        fill: $yellow;
      }
    }
  }
}