.svg {
  &-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    stroke: $gray;
    transition: stroke $duration;
    fill: transparent;

    @include rh(1024) {
      &:hover {
        stroke: $red;
      }
    }
  }
}