.svg {
  &-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    fill: $white;
    transition: fill $duration;
    @include rh(1024) {
      &:hover {
        fill:$red;
      }
    }
  }
}