<!-- header start -->
<header class="header">
  <div class="container_lg">
    <div class="header-row">
      <a href="./index.html" class="logo">
        <span>a</span>
        <span>k</span>
      </a>
      <button class="humburger js-humburger">
        <span class="humburger-item"></span>
        <span class="humburger-item"></span>
        <span class="humburger-item"></span>
        <span class="humburger-item"></span>
      </button>
    </div>
    <ul class="social-list">
      <li class="social-item"><a href="#" class="social-link">
          <svg class="svg-icon">
            <use xlink:href="img/svg/sprite-svg/sprite.svg#facebook">
            </use>
          </svg>
        </a>
      </li>
      <li class="social-item"><a href="#" class="social-link">
          <svg class="svg-icon">
            <use xlink:href="img/svg/sprite-svg/sprite.svg#youtube">
            </use>
          </svg>
        </a>
      </li>
      <li class="social-item"><a href="#" class="social-link">
          <svg class="svg-icon">
            <use xlink:href="img/svg/sprite-svg/sprite.svg#instagram">
            </use>
          </svg>
        </a>
      </li>
    </ul>

  </div>

</header>
<!-- header end -->