<section class="section section-contact">
  <div class="container_lg">
    <div class="contact-row">
      <div class="contact-content">
        <div class="section-title">
          <h3 class="title-3">
            Sey hello
          </h3>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nulla dolore, eaque provident eius maxime
          incidunt, obcaecati atque itaque, reiciendis temporibus esse corrupti molestiae asperiores explicabo soluta
          ad? Corrupti, dolores?</p>
      </div>
      <div class="contact-form">
        <form class="form">
          <div class="section-title">
            <h3 class="title-3">
              Contact form
            </h3>
          </div>
          <div class="form-content">
            <label class="input-container">
              <input type="text" class="input-item" required="">
              <span class="input-label">Your Name</span>
            </label>
            <label class="input-container">
              <input type="text" class="input-item" required="">
              <span class="input-label">Your Email</span>
            </label>
            <label class="input-container">
              <textarea class="input-item" required=""></textarea>
              <span class="input-label">Your Message</span>
            </label>
            <button class="button button_primary">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>